.night_fade{
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.winter_neva{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.morpheus_den{
  background-image: linear-gradient(15deg,#330867  0%, #30cfd0 100%);
}
.star_wine{
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.fly_high{
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
.grow_early{
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
.sky_glider{
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
}
.aqua_splash{
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.love_kiss{
  background-image: linear-gradient(15deg, #ff0844 0%, #ffb199 100%);
}
.mountain_rock{
  background-image: linear-gradient(to right, #596164 0%, #868f96 100%);
}
.desert_hump{
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}
.big_mango{
  background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
}
.healthy_water{
  background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}
.happy_memories{
  background-image: linear-gradient(-60deg, #f09819 0%, #ff5858 100%);
}