.spinner-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200,200,200,0.5);
  .preloader-wrapper{
    margin: 0 auto;
  }
}

.user_avatar{
  a{
    position: relative;
    height: 120px;
    width: 120px;
    display: inline-block;
  }
  position: relative;
  max-height: 120px;
  .image_layer{
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgba(82,130,229,0.9) !important;
    top: 0px;
    left:0px;
    color:white;
    border: none !important;
    min-height: 120px !important;
    border-radius: 60px;
  }
  .dz-preview{
    .dz-image{
      display: none;
    }
  }
}

.container .row + .row {
  margin-top: 1rem;
}
.age{
  font-size: 3rem;
  text-align: center;
  line-height: 2rem;
  small {
    font-size: 1rem;
  }
}
.el-date-editor.el-input{
  width: 100% !important;
}