
// Body
//$body-bg: #f5f8fa;
$body-bg: #fff;
//$body-bg: #6a9b9980;

$enable-gradients: true;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
